.wallet-connect-btn {
    border-radius: 10px;
    min-width: 180px;
    font-size: 1.2rem;
}

.badge-currency {
    display: flex;
    align-items: center;
    color: #111 !important;
    font-weight: 400;
    border-radius: 10px;
}